.schedule_list {
    width: 50%;
    /*display: inline-block;*/
    float: left;
    /*height: 70px;*/
    margin-top: 20px;
    text-align: left;
    font-size: 24px;
}

.schedule_img {
    width: 50%;
    height: 70px;
    float: left;
    text-align: righ;
}

#schedule_content {
    width: 77%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    /*border: 1px solid lightgray;*/
}

#schedule_content:after {
    content: "";
    display: table;
    clear: both;
}


#start_schedule {
    width: 100%;
    float: right;
    text-align: right;
    margin-right: 60px;
    margin-top: 50px;
}

.done {
    text-decoration: line-through;
}

#question_schedule {
    visibility: hidden;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.img_schedule_position {
    float: right;
}

.schedule_button {
    display: inline-block;
    padding: 20px;
    /*height: 60px;*/
    /*border: 1px solid lightgray;*/
    font-family: sans-serif;
    font-size: 20px;
    background-color: #444;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    /*padding: 20px;*/
    cursor: pointer;
    margin-bottom: 20px;
    text-decoration: none;
}

.schedule_button:hover {
    background-color: #38a;
}