body {
    font-size: 20px;
    font-family: sans-serif;
    color: #333;
}

#content {
    /*width: 700px;*/
    /*height: 500px;*/
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*padding-left: 20px;*/
    margin: auto;
}

/*#content_welcome {*/
/*    width: 700px;*/
/*    height: 500px;*/
/*    background-image: url("images/background_image.png");*/
/*    background-position: center; !* Center the image *!*/
/*    background-repeat: no-repeat; !* Do not repeat the image *!*/
/*    background-size: cover; !* Resize the background image to cover the entire container *!*/

/*}*/

#content_ending {
    width: 100%;
    height: 100%;
    background-image: url("images/background_image_end.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

#wrapper {
    /*width: 800px;*/
    /*height: 600px;*/
    width: 85%;
    height: 70%;
    /*background-color: yellow;*/

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;


    margin: auto;
}

h1 {
    display: none;
}

video, iframe {
    display: block;
    margin: 0 auto;
}

p#instruction, h1#instruction {
    /*text-align: center;*/
    /*width: 700px;*/
    /*font-size: 40px;*/
    /*font-family: sans-serif;*/
    /*color: #4680ca;*/
    /*margin: 0;*/
    /*display: block;*/


    font-weight: 300;
    margin: 0px;
    padding: 10px;
    font-size: 30px;
    background-color: #444;
    color: #fff;
    visibility: visible;
    display: block;
    text-align: center;
    font-weight: bold;
}

.hidden_button {
    visibility: hidden;
    display: inline-block;
    background-color: #3388aa;
    color: white;
    width: 210px;
    height: 80px;
}

.hidden_button:hover {
    visibility: visible;
    background-color: #fbfbfb;
}

.hidden_button_link {
    text-decoration: none;
    font-size: xx-large;
    width: 210px;
    height: 80px;
    display: inline-block;
}

.hidden_button_link:hover {
    visibility: visible;
    background-color: #fbfbfb;
}

#calm_video {
    display: none;
    margin-top: 20px;
}

.calm_links_div {
    width: 260px;
    height: 180px;
    float: left;
    margin-right: 20px;
    text-align: center;
}

#calm_links {
    width: 80%;
    height: 440px;
    margin: auto;
    /*background-color: #dddddd;*/
}

#breathing {
    background-image: url("images/breathing_small.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

#breathing:hover {
    background-image: url("images/breathing_small_hover.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    cursor: pointer;

}

#listening {
    background-image: url("images/listening_game_small.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

#listening:hover {
    background-image: url("images/listening_game_small_hover.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    cursor: pointer;

}

#creatures_sea {
    background-image: url("images/sea_creatures_small.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

#creatures_sea:hover {
    background-image: url("images/sea_creatures_small_hover.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    cursor: pointer;
}

#peace_out {
    background-image: url("images/peace_out_small.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

#peace_out:hover {
    background-image: url("images/peace_out_small_hover.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    cursor: pointer;

}

.links_images {
    width: 260px;
    height: 210px;
    float: left;
    margin-right: 20px;
    margin-top: 12px;
    text-align: center;
}