<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}

</head>
<body>
<div id="wrapper">
    <div id="content">
        <h1>This is the last calming content before leaving</h1>
        <p id="instruction"> Please watch the video below</p>

        <p>
            <iframe width="650" height="365"
                    src="https://www.youtube.com/embed/9A0S54yAgEg?controls=0&start=13&autoplay=1"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </p>
        <!--Please click here to continue the session.-->
        <!--<p>-->
        <!--    <a href="ending">LINK &ndash;&gt; </a>-->
        <!--</p>-->
    </div>
</div>
<script>
    time_to_move = JSON.parse({{ time_on_page | tojson}});
    setTimeout(function () {
        window.location.href = 'schedule_ending';
    }, time_to_move);
</script>
</body>
</html>