<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <script src="../static/calming.js"></script>


</head>
<body>
<a class="hidden_button_link" href="schedule_after_2">
    <div class="hidden_button">go on</div>
</a>

<div id="wrapper">
    <div id="content">
        <h1>This is the calming content between tasks</h1>
        <p id="instruction">Please select a video to watch</p>
        <div id="calm_links">
            <div class="links_images" id="breathing_click">
                <div class="calm_links_div" id="breathing"></div>
                Breathing exercise
            </div>
            <div class="links_images" id="listening_click">
                <div class="calm_links_div" id="listening"></div>
                The listening game
            </div>
            <div class="links_images" id="creatures_sea_click">
                <div class="calm_links_div" id="creatures_sea"></div>
                Creatures of the sea
            </div>
            <div class="links_images" id="peace_out_click">
                <div class="calm_links_div" id="peace_out"></div>
                Peace out
            </div>
        </div>
        <div id="calm_video">
            <video id='calm_video_play' width="70%" controls>
                <source src="" type="video/mp4">
            </video>
        </div>
    </div>
</div>
<script>
    time_to_move = JSON.parse({{ time_on_page | tojson }});
    setTimeout(function () {
        window.location.href = 'schedule_after_2';
    }, time_to_move);
</script>
</body>
</html>