<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
</head>
<body>
<div id="wrapper">
    <div class="content_start_end">
        <div id="content_ending">
            <h1>This is the end of this session</h1>
        </div>
<!--        <p id="instruction">This is the end of this session</p>-->
<!--        <p>-->
<!--            Thank you for your participation.-->
<!--            Now it is time to receive nice things! :)-->
<!--        </p>-->
    </div>
</div>
</body>
</html>