<!DOCTYPE html>
<html lang="en">
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>First task</title>-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<!--</head>-->
<head>
    {% include 'header.html' %}

</head>

<body>
<a class="hidden_button_link" href={{ "mood?task=first_task&time_next=" + time_on_page}}><div class="hidden_button">go on</div></a>
<div id="wrapper">
    <div id="content">
        <h1>This is the first task</h1>
        <p id="instruction"> Please watch the video below</p>
        <p>

            <video id='video_task_1' height="95%" controls autoplay>
                <source src={{ green_video }} type="video/mp4">
            </video>
        </p>
    </div>
</div>
<!--Please click here to continue the session.-->
<!--<p>-->
<!--    <a href="calming_content">LINK &ndash;&gt; </a>-->
<!--</p>-->
<script>
    time_to_move = JSON.parse({{ time_on_page | tojson}});
    setTimeout(function () {
        // window.location.href = 'calming_content';
        window.location.href = 'mood?task=first_task&time_next=' + time_to_move;
    }, time_to_move );
</script>
</body>
</html>