<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First task</title>
</head>
<body>
<h1>This is the first task.</h1>
Please watch the video.
<p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/pUbmOA1r1Nc?autoplay=1&start=20&controls=0"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>
Please click here to continue the session.
<p>
    <a href="calming_content">LINK --> </a>
</p>
</body>
</html>