<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}

</head>
<body>
<a class="hidden_button_link" href={{ 'mood?task=forth_task&time_next=' + time_on_page}}><div class="hidden_button">go on</div></a>
<div id="wrapper">
    <div id="content">
        <h1>This is the forth task</h1>
        <p id="instruction"> Please watch the video below</p>
        <p>
            <video width="70%" controls autoplay>
                <source src={{ blue_video }} type="video/mp4">
            </video>

        </p>
        <!--Please click here to continue the session.-->
        <!--<p>-->
        <!--    <a href="calming_content_4">LINK &ndash;&gt; </a>-->
        <!--</p>-->
    </div>
</div>
<script>
    time_to_move = JSON.parse({{ time_on_page | tojson}});
    setTimeout(function () {
        // window.location.href = 'calming_content_4';
        window.location.href = 'mood?task=forth_task&time_next=' + time_to_move;;
    }, time_to_move);
</script>
</body>
</html>