<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forth task</title>
    <script>
        setTimeout(function () {
            window.location.href = 'calming_content_4';
        }, 5000);
    </script>
</head>
<body>
<h1>This is the forth task</h1>
Please watch the video.
<p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/lVrYV0odeFY?controls=0&amp;start=23&autoplay=1"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
</p>
<!--Please click here to continue the session.-->
<!--<p>-->
<!--    <a href="calming_content_4">LINK &ndash;&gt; </a>-->
<!--</p>-->
</body>
</html>