<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Environment</title>
    <link rel="stylesheet" type="text/css" href="../static/game.css">
</head>
<body>
<object id="game"
        data="https://cdn.mathgames.com/content/mathvsmonsters/index.html?uid=5e1d741dada37a01005b6316&amp;curriculum_key=IE">
    <embed type="html"
           src="https://cdn.mathgames.com/content/mathvsmonsters/index.html?uid=5e1d741dada37a01005b6316&amp;curriculum_key=IE"
           scale="tofit">
</object>
<script>
    setTimeout(function () {
        // window.location.href = 'calming_content_2';
        window.location.href = 'schedule_after_2';
    }, 10000);
</script>
</body>
</html>