<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Clumsy Bird</title>
        <link rel="shortcut icon" href="data/img/favicon.ico">
        <link rel="stylesheet" type="text/css" media="screen" href="static/index.css">
        <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta charset="UTF-8" />
        <meta name="description" content="Clumsy Bird - A Flappy Bird clone using MelonJS"/>
        <meta name="keywords" content="flappybird, flappy, bird, game, html5, melonjs,clone"/>


        <!-- Humans -->
<!--        <link rel="author" href="humans.txt" />-->
    </head>

    <body>
        <!-- Canvas placeholder -->
        <div><button type="button" id="button_restart">Restart Game</button>
        <p id="txt"></p></div>
        <div id="screen"></div>

        <!-- melonJS Library -->
        <script type="text/javascript" src="static/js/melonJS-min.js" ></script>
        <script type="text/javascript" src="static/build/clumsy-min.js" ></script>
        <script type="text/javascript">
             time_to_move = JSON.parse({{ time_on_page | tojson}});
            time_to_the_next = JSON.parse({{ time_on_page_to_read | tojson}});
            setTimeout(function () {
                window.location.href = 'mood?task=second_task&time_next=' + time_to_the_next;
            }, time_to_move);

            let time_number = {{ time_passed }}
            window.onReady(function onReady() {
                game.onload();
                startTime();
                document.getElementById('button_restart').onclick = function(){
                    window.location ='/game_2?time_passed='+ time_number
                };
            });
            function startTime()
            {
              setInterval(plus_one, 1000);
            }

            function plus_one(){
              document.getElementById('txt').innerHTML="Timer: "+ time_number;
              time_number = time_number + 1;
            }

            // function reload_screen(){
            //     window.location ='/game_2'
            // }
        </script>

    </body>
</html>






</body>
</html>
