<!DOCTYPE html>
<html lang="en">
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Task Environment - Initial page</title>-->
<!--    <script>-->
<!--        setTimeout(function () {-->
<!--            window.location.href = 'first_task';-->
<!--        }, 5000);-->
<!--    </script>-->
<!--</head>-->
{% include 'header.html' %}
<body>
<h1>Welcome to this session.</h1>
<p>
    This is the task environment.
</p>
Please click here to start the session.
<p>
    <a href="first_task">LINK --> </a>
</p>
</body>
</html>