<!DOCTYPE html>
<html lang="en">
<!--    <meta charset="UTF-8">-->
<!--    <title>Task Environment - Initial page</title>-->
<head>
    {% include 'header.html' %}
</head>
<style>
    #content_welcome {
    width: 700px;
    height: 500px;
    background-image: url({{ image_bg }});
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

}
</style>

<body>
<div id="wrapper">
    <div id="content">
<!--        <a href="first_task">-->
        <a href="schedule">
            <div id="content_welcome">
                <h1>Welcome to this session.</h1>
            </div>
        </a>
    </div>
</div>
</body>
</html>