<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <link rel="stylesheet" type="text/css" href="../static/schedule.css">
    <link rel="stylesheet" type="text/css" href="../static/quiz.css">
    <script type="text/javascript" src="../static/mood.js"></script>

</head>
<body>
<div id="wrapper">
    <div id="content">
        <h1>This is the second task</h1>
        <p id="instruction">How are you feeling now?</p>
        <div id="mood_buttons">
            <button id="happy_mood">Happy</button>
            <button id="neutral_mood"> Neutral</button>
            <button id="unhappy_mood">Unhappy</button>

        </div>
        <div id="answer_mood"></div>

        <div id="start_schedule">
            <a href="/calming_content">Let's START!</a>
        </div>
    </div>
</div>
</body>
</html>