<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <link rel="stylesheet" type="text/css" href="../static/schedule.css">
    <link rel="stylesheet" type="text/css" href="../static/quiz.css">
</head>
<body>
<div id="wrapper">
    <div id="content">
        <h1>This is the second task</h1>
        <p id="instruction">How are you feeling now?</p>
        <div>
            <a href="">Good</a>
            <a href=""> Neutral</a>
            <a href="">Bad </a>

        </div>

        <div id="start_schedule">
            <a href="/calming_content">Let's START!</a>
        </div>
    </div>
</div>
<script>
    setTimeout(function () {
        // window.location.href = 'first_task';
    }, 10000);
</script>

</body>
</html>