<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <link rel="stylesheet" type="text/css" href="../static/schedule.css">
    <link rel="stylesheet" type="text/css" href="../static/quiz.css">
</head>
<body>
<a class="hidden_button_link" href="third_task"><div class="hidden_button">go on</div></a>

<div id="wrapper">
    <div id="content">
        <h1>This is the second task</h1>
<!--        <p id="instruction">Game Time is Over Now. You've finished the second part! Well done!</p>-->
        <p id="instruction">You've finished the second part! Well done!</p>

        <div id="schedule_content">
            <p id="question_schedule"> Our schedule for Today is: </p>
            <div class="schedule_img">
                <img src="static/images/watch_video.png" width="282px" />
            </div>
            <div class="schedule_list">
                <list>
                    <ul class="done">1. Watch a video   <img src="static/images/done_2.png" width="30px" /></ul>
                    <ul class="done">2. Play a game  <img src="static/images/done_2.png" width="30px" /></ul>
                    <ul >3. Do a worksheet  </ul>
                    <ul >4. Watch a video    </ul>
                </list>
            </div>
            </div>
        <div id="start_schedule">
            <a href="/third_task">Let's CONTINUE!</a>
        </div>
        </div>
    </div>
    <script>
        time_to_move = JSON.parse({{ time_on_page | tojson}});
        setTimeout(function () {
            window.location.href = '/third_task';
            // window.location.href = 'game';
        }, time_to_move);
    </script>

</body>
</html>