<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <link rel="stylesheet" type="text/css" href="../static/schedule.css">
    <link rel="stylesheet" type="text/css" href="../static/quiz.css">
</head>
<body>
<a class="hidden_button_link" href="first_task"><div class="hidden_button">go on</div></a>
<div id="wrapper">
    <div id="content">
        <h1>This is the second task</h1>
        <p id="instruction">Our schedule for Today is:</p>

        <div id="schedule_content">
            <p id="question_schedule"> Our schedule for Today is: </p>
            <div class="schedule_img">
                <img src="static/images/watch_video.png" width="282px" ></img>
            </div>
            <div class="schedule_list">
                <list>
                    <ul>1. Watch a video</ul>
                    <ul>2. Play a game</ul>
                    <ul>3. Do a worksheet</ul>
                    <ul>4. Watch a video</ul>
                </list>
            </div>
            </div>
        <div id="start_schedule">
            <a href="/first_task">Let's START!</a>
        </div>
        </div>
    </div>
    <script>
        time_to_move = JSON.parse({{ time_on_page | tojson}});
        setTimeout(function () {
            window.location.href = 'first_task';
        }, time_to_move);
    </script>

</body>
</html>