<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <link rel="stylesheet" type="text/css" href="../static/quiz.css">
    <link rel="stylesheet" type="text/css" href="../static/schedule.css">
</head>
<body>
<a class="hidden_button_link" href="game"><div class="hidden_button">go on</div></a>

<div id="wrapper">
    <div id="content">
        <h1>This is the second task</h1>
        <p id="instruction"> Game time</p>
        <p class="question" >
            You will play a game next. Enjoy.
            <!--            <iframe width="650" height="365"-->
            <!--                    src="https://www.youtube.com/embed/H9InaUJm0A8?controls=0&amp;start=78&autoplay=1"-->
            <!--                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
            <!--                    allowfullscreen></iframe>-->
            <br><br>
            <a href="/game" class="schedule_button">Play now!</a>
        </p>
    </div>
</div>
<script>
    time_to_the_next = JSON.parse({{ time_on_page_to_read | tojson}});
    setTimeout(function () {
        // window.location.href = 'calming_content_2';
        window.location.href = 'game';
    }, time_to_the_next);
</script>
</body>
</html>