<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Third task</title>
</head>
<body>
<h1>This is the third task</h1>
Please watch the video.
<p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/QxSKKtUdAjU?controls=0&amp;start=11&autoplay=1"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
</p>
Please click here to continue the session.
<p>
    <a href="calming_content_3">LINK --> </a>
</p>
</body>
</html>