<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <script type="text/javascript" src="../static/quiz.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/quiz.css">
</head>
<body>

<div id="wrapper">
    <div id="content">
        <h1 id="worksheet">Please solve the questions below before the time is over</h1>
        <div class="quiz-container">
            <div id="quiz-time-left"></div>
            <div id="quiz"></div>
        </div>
        <div id="quiz-buttons-message">
            <button id="start">Start</button>
            <button id="previous">Previous Question</button>
            <button id="next">Next Question</button>
            <button id="submit">Submit Answers </button>
            <div id="messages"></div>
            <div id="results"></div>

        </div>

    </div>
</div>
<a class="hidden_button_link" href={{ 'mood?task=third_task&time_next=' + time_on_page_to_read}}><div class="hidden_button">go on</div></a>
<script>
    time_to_move = JSON.parse({{ time_on_page | tojson}});
    time_to_the_next = JSON.parse({{ time_on_page_to_read | tojson}});
    setTimeout(function () {
        // window.location.href = 'calming_content_3';
        window.location.href = 'mood?task=third_task&time_next=' + time_to_the_next;;
    }, time_to_move);
</script>
</body>
</html>