<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <script type="text/javascript" src="../static/quiz.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/quiz.css">
</head>
<body>
<div id="wrapper">
    <div id="content">
        <div class="quiz-container">
            <div id="quiz"></div>
        </div>
        <button id="previous">Previous Question</button>
        <button id="next">Next Question</button>
        <button id="submit">Submit Quiz</button>
        <div id="messages"></div>
        <div id="results"></div>

    </div>
</div>
<script>
    setTimeout(function () {
        // window.location.href = 'calming_content_3';
    }, 5000);
</script>
</body>
</html>